.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.app__container {
  padding: 10px;
  position: relative;
}
.MuiInputBase-root {
  margin-bottom: 10px;
}

.container__result {
  width: 98%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.single__repo {
  text-align: left;
  cursor: pointer;
  min-width: 370px;
}

.dialog__content__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dialog__content__body {
  padding: 10px;
}

.MuiDialogContent-root {
  background-color: rgb(243, 239, 239);
}
.MuiPaper-root {
  margin: 0 auto;
}
.MuiTypography-root span {
  color: rgb(80, 27, 27);
  font-weight: bold;
  font-size: 1rem;
}
